body {
    box-sizing: border-box;
}

.card {
    padding: 20px 60px;
    border-radius: 10px;
    background-color: rgba(226, 226, 226, 0.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.weather-title {
    margin-bottom: 15px;
    font-size: 2.5rem;
}

.search-bar {
    border: 2px solid rgb(147, 148, 199);
    font-size: 1rem;
    text-indent: 40px;
    border-radius: 20px;
    height: 45px;
    width: 170px;
    text-align: left;
    transition: width .6s;
}

.search-bar:focus {
    outline: none;
    width: 300px;
}


.temp-icon {
    position: relative;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.temp {
    position: relative;
    top: 20px;
}

.temp::after {
    content: '°C';
    font-size: 30px;
    position: relative;
    bottom: 15px;
}

.desc {
    position: relative;
    bottom: 40px;
    font-weight: 700;
}